<!DOCTYPE html>
<html>
<head>
    <title>Survey Details Report</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Survey Details Report</h1>
    <table>
        <thead>
            <tr>
                  <th>ID</th>
                  <th>SiteName</th>
			<th>SiteAddress</th>
			<th>DateTime</th>
			<th>Engineer</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="survey : ${surveys}">
                <td th:text="${survey.id}"></td>
                <td th:text="${survey.siteName}"></td>
                <td th:text="${survey.siteAddress}"></td>
                <td th:text="${survey.dateTime}"></td>
                <td th:text="${survey.engineer}"></td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>
